@font-face {
  font-family: 'Inter';
  src: url('@/assets/font/Inter/Inter-VariableFont_opsz,wght.ttf')
       format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/font/Inter/Inter-Italic-VariableFont_opsz,wght.ttf')
       format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('@/assets/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')
       format('truetype');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('@/assets/font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')
       format('truetype');
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
}
