@import "tailwindcss";
@import "./font.css";

.container {
    max-width: 1382px;
    margin: 0 auto;
    padding: 0 60px;
}

@media (max-width: 768px) {
    .container{
        padding: 0 35px;
    }
}

@layer base {
      :root {
        --font-body: 'Inter', system-ui, sans-serif;
        --font-heading: 'Playfair Display', serif;
    }

    html {
        scroll-behavior: smooth;
    }

    *{
        box-sizing: border-box;
    }

    input:focus,
    input:focus-visible,
    button:focus,
    button:focus-visible{
        outline: unset;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }


    h1, h2, h3{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-style: normal;
    }

    ul {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    img {
        display: block;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    body{
        font-family: "Inter", sans-serif;
        background-color: #FFFFFF;
        margin: 0;
        scroll-behavior: smooth;
        font-weight: 500;
        color: #181818;
    }

    body.lock{
        overflow: hidden;
    }
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .form-error {
        animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    }

  @keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, 0, 0);
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 0, 0);
        transform: translate3d(4px, 0, 0);
    }
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

 .font-heading {
    font-family: var(--font-heading);
  }

  .font-body {
    font-family: var(--font-body);
  }
}