@import "tailwindcss";
@import "./font.css";

html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

input:focus,
input:focus-visible,
button:focus,
button:focus-visible{
    outline: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}


h1, h2, h3{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #FBFAF8;
    margin: 0;
    scroll-behavior: smooth;
}

body.lock{
    overflow: hidden;
}

.container {
    max-width: 1382px;
    margin: 0 auto;
    padding: 0 60px;
}

@media (max-width: 768px) {
    .container{
        padding: 0 30px;
    }
}
