@import "tailwindcss";
@import "./font.css";

.container {
    max-width: 1382px;
    margin: 0 auto;
    padding: 0 60px;
}

@media (max-width: 768px) {
    .container{
        padding: 0 35px;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    *{
        box-sizing: border-box;
    }

    input:focus,
    input:focus-visible,
    button:focus,
    button:focus-visible{
        outline: unset;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }


    h1, h2, h3{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-style: normal;
    }

    ul {
        list-style-type: none;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    img {
        display: block;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    body{
        font-family: "Inter", sans-serif;
        background-color: #FFFFFF;
        margin: 0;
        scroll-behavior: smooth;
        font-weight: 500;
        color: #181818;
    }

    body.lock{
        overflow: hidden;
    }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}